.App {
  text-align: center;
  display:flex;
  width:50%;
  margin: auto;
 padding-bottom: 20px;
 border:1px solid gray;
 border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;
}

.header{
  display: flex;
  width:50.1%;
  margin: auto;
  margin-top: 100px;
}

.heading1{
  border-bottom:1px solid silver;
  border-left:1px solid silver;
  border-top:1px solid silver;
  border-top-left-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:60%;
  cursor: pointer;
}

.head{
  border-bottom:3px solid blue;
  border-left:1px solid silver;
  border-top:1px solid silver;
  border-top-left-radius: 12px;
  color:blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  cursor: pointer;
}

.heading2{
  border-bottom:1px solid silver;
  border-right:1px solid silver;
  border-top:1px solid silver;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  cursor: pointer;
}

.head2{
  border-bottom:3px solid blue;
  border-right:1px solid silver;
  border-top:1px solid silver;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  cursor: pointer;
}
.timer{
  width:50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
